body{
	background-color:black;
	 font-family:'Roboto',sans-serif;
}

h1{
	margin:auto;
	margin-top: 40px;
	text-align: center;
	color: white;
}
#head1{
	font-size: 30px;
}
#username{
	color:white;
}
#signCon{

	text-align: center;
	color: white;
}
#logCon{
	margin-top: 30%;
 text-align: center;
 color: white;
}

#sign-gb{
	width: 250px;
	padding: 0.5em 3em;

	margin-top: 25%;
	border:1px solid #FFFFFF;
	box-sizing: border-box;
	text-align: center;
	text-transform:uppercase;
	color:#FFFFFF;
	background-color: Transparent;
	font-weight:500;
}
.bg{
	position: absolute;
	margin-left: 25%;
	width: 60%;
	height:85%;
	border-radius: 50%;
	box-shadow:
	inset 0 0 50px #fff,
	inset 20px 0 80px #f0f,
	inset -20px 0 80px #0ff,
	inset 20px 0 300px #f0f,
	inset -20px 0 300px #0ff,
	0 0 50px #fff,
	-10px 0 80px #f0f,
	10px 0 80px #0ff;

}

.grid{
	margin: auto;
	background-color: #f8f8ff;
}

.board {
	border: black;
	border-width: 10px;
	border-collapse: collapse;
	padding: 0px;
	margin: auto;
	background-color: #e5e4e2;
}
.boardcell {
	width: 10px;
	height: 10px;;
	font-size: 1px;
	border: solid 1px gray;
	padding: 0px;
	margin: 0px;
}

.iterations{
	color: white;
}

.patterns{
	color: white;
}


.StatusWait {
	background-color: Yellow;
}


input[type=button]{
		width: 110px;
	  padding: 0.5em 3em;
	  margin: 0 0.3em 0.3em 0;
		border:1px solid #FFFFFF;
	  box-sizing: border-box;
		text-align: center;
		text-transform:uppercase;
	  color:#FFFFFF;
		background-color: Transparent;
		font-weight:400;
 
}
.gb{
	width: 250px;
	padding: 0.5em 3em;
	margin-left: 32%;
	margin-top: 25%;
	border:1px solid #FFFFFF;
	box-sizing: border-box;
	text-align: center;
	text-transform:uppercase;
	color:#FFFFFF;
	background-color: Transparent;
	font-weight:500;
}
a{
	color:white;
}
a:hover{
	color:white;
}
a:active{
	color:white;
}
a:visited{
	color:white;
}
a::before{
	color:white;
}

.StatusNormal{
	display: block;
	width: 500px;
	padding: 0.5em 3em;
	margin: 0 0.3em 0.3em 0;
  font-weight:400;
	box-sizing: border-box;
	text-transform:uppercase;
	color:#FFFFFF;
	background-color: Transparent;
}
