body{
	background-color: #990000;
	font-family: "Lucida Console";
}

h1{
	margin:auto;
	margin-top: 40px;
	text-align: center;
	color: white;
}

.grid{
	margin: auto;
	background-color: white;
}

.board {
	border: black;
	border-width: 10px;
	border-collapse: collapse;
	padding: 0px;
	margin: auto;
	background-color: white;
}
.boardcell {
	width: 10px;
	height: 10px;;
	font-size: 1px;
	border: solid 1px #EEEEEE;
	padding: 0px;
	margin: 0px;
}

.iterations{
	margin: auto;
	color: white;
}

.patterns{
	color: white;
}

.StatusNormal {
	background-color: White;
}
.StatusWait {
	background-color: Yellow;
}
